{% extends 'base.html' %}

{% block form %}
    <div class="container form">
        <div class="row">
            <div class="col mt-5">
                <form method='post' action="{{ url_for('player') }}">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" value="0" type="radio" name="player" id="1">
                            <label class="form-check-label" for="1">
                                Graj Wilkiem
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" value="1" type="radio" name="player" id="2">
                            <label class="form-check-label" for="2">
                                Graj Owcami
                            </label>
                        </div>
                        <div class="mt-3">
                            <input class="btn btn-outline-secondary" type="submit" value="Start"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}